.assignee-count__container {
  position: relative;

  .assignee-count {
    border: 1px solid lightgray;
    padding: 2px 6px;
    border-radius: 8px;
    color: #444;
    background: #f0f0f0;
    cursor: default;
  }
  .assignee-count__tooltip__container {
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 28px;
    z-index: 99;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 5px 5px 10px #aaa;
    display: flex;
    white-space: nowrap;

    ul {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 5px;
      max-height: 100px;
      display: flex;
      flex-direction: column;
    }

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      margin-bottom: 3px;
      padding: 0;
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
.assignee-count__tooltip__arrow {
  color: white;
  position: absolute;
  z-index: 99;
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  top: -8px;
}
