.data-table {
  width: 100%;
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
  thead tr {
    background-color: rgb(245, 245, 245);
    width: 100%;
  }
  
  thead tr th {
    border: 1px solid transparent;
  }

  tr {
    border-bottom: 1px solid lightgray;
  }
  td,
  th {
    padding: 5px 10px;
    min-height: 32px;
  }
}
.data-table__title {
  text-align: left;
}
